
    <div class="container">
        <h2 class="justify-content-xl-center">{{linkName}}</h2>
        <div class="card-deck mb-3 text-center mt-5">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="btn btn-lg btn-block btn-primary">People</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4" *ngFor="let people of peoples">
                        <li class="accordion">
                            <mat-accordion>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <button class="btn btn-link">
                                                {{people.peopleName}}
                                            </button>
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <p>{{people.description}}</p>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="btn btn-lg btn-block btn-primary">Process</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4" *ngFor="let process of processes">
                        <li class="accordion">
                            <mat-accordion>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <button class="btn btn-link">
                                                {{process.processName}}
                                            </button>
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <p>{{process.description}}</p>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="btn btn-lg btn-block btn-primary">Tools</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4" *ngFor="let tool of tools">
                        <li class="accordion">
                            <mat-accordion>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <button class="btn btn-link">
                                                {{tool.toolName}}
                                            </button>
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <p>{{tool.description}}</p>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>


