
<div style="margin: 8px;">
    <div class="card-deck mb-3 text-center mt-5">
        <div class="card mb-4 shadow-sm">
            <mat-card flex-sm="25" flex-gt-sm="30" flex="100">
                <mat-card-title class="">Alignment on Vision</mat-card-title>
                <mat-card-content>
                    Product goal setting and the creation of a vision are the responsibility of the product owner. The vision needs to be clearly communicated with all those involved in the product including stakeholders and the development team. This enables the vision to be used when making decisions on prioritisation and direction.
                </mat-card-content>
                <mat-card-actions layout="row" layout-align="end center">
                    <a class="links" href="https://www.frontrowagile.com/blog/posts/74-the-role-of-a-product-owner-responsibilities-and-characteristics">Reference Templates</a>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="card mb-4 shadow-sm">
            <mat-card flex-sm="25" flex-gt-sm="30" flex="100">
                <mat-card-title class="tp-title">Managing the Product Backlog</mat-card-title>
                <mat-card-content>
                    The product backlog is the live source of all remaining work to be completed during development. It is continually updated to ensure that the team is able to deliver the most important tasks iteratively and incrementally.
                </mat-card-content>
                <mat-card-actions layout="row" layout-align="end center">
                    <a class="links" href="https://www.frontrowagile.com/blog/posts/74-the-role-of-a-product-owner-responsibilities-and-characteristics">Reference Templates</a>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="card mb-4 shadow-sm">
            <mat-card flex-sm="25" flex-gt-sm="30" flex="100">
                <mat-card-title class="tp-title">Owning the Finances</mat-card-title>
                <mat-card-content>
                    The product owner is accountable for good economic decision-making during development at the sprint, release and product level. The iron triangle of scope, budget, time (and quality) can be traded in order to provide the best return on investment. The cost/benefit of each product backlog item can also be used to determine the ordering of work.
                </mat-card-content>
                <mat-card-actions layout="row" layout-align="end center">
                    <a class="links" href="https://www.frontrowagile.com/blog/posts/74-the-role-of-a-product-owner-responsibilities-and-characteristics">Reference Templates</a>
                </mat-card-actions>
            </mat-card>
            </div>
        </div>
    </div>
