
<div class="container">
    <div class="row justify-content-md-around mt-5 background-white">
        <div class="col-4 px-1">
            <div class="" *ngFor="let role of roles">
                <div class="p-3 text-off-white role"
                     [routerLink]="['/product-owner']"
                     [class.selected]="role === selectedRole">
                    <i class="fas fa-user"></i>
                    <span>
                        {{role.roleName}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div *ngFor="let link of links">
                <div class="mt-2">
                    <button class="btn btn-primary" [routerLink]="['/jump-start',link.linkId]" [class.selected]="link === SelectedLink">
                        {{link.linkName}}
                    </button>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>

